* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 5px;
  margin: auto;
  scroll-behavior: smooth;
  h2 {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #9cf6f6;
    font-size: 2rem;
  }
}
body {
  background-image: url("/img/monsterfluffy.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
  font-family: sans-serif;
}

header {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  color: #c9f778;
  img {
    width: 400px;
    height: 300px;
  }
}

main {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: auto;
  margin-top: 80px;
}
/* Bygg Monster Sektion */
.monster-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 400px;
  width: 300px;
  background-color: #adbcff;
  border-radius: 10px;
  /* Första ram */
  border: 4px solid #9cf6f6;
  /* Simulerad andra ram */
  box-shadow: 0 0 0 3px #c9f778, 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 10px;
}

#monsterForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  h2 {
    text-align: center;
    margin-top: 5px;
  }

  legend {
    font-weight: bolder;
    font-size: 1.6rem;
    color: #c9f778;
    text-align: center;
  }
  fieldset {
    border: 2px solid #c9f778;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
  }

  label {
    color: #9cf6f6;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: inline-block;
    width: auto;
  }

  input,
  select {
    padding: 5px;
    margin-top: -10px;
    font-size: 1.1rem;
    border: 1px solid #c9f778;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
  }

  button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #c9f778;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #b4e255;
  }
}

/* Resultat Sektion */
.monster-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 400px;
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: auto;
  width: 300px;
  background-color: #adbcff;
  border-radius: 10px;
  border: 4px solid #9cf6f6;
  box-shadow: 0 0 0 3px #c9f778, 0 0 10px rgba(0, 0, 0, 0.2);
  p {
    font-size: 1.2rem;
    color: #c9f778;
    font-weight: bolder;
  }
}

.monster-box {
  border: 4px solid #9cf6f6;
  box-shadow: 0 0 0 3px #c9f778, 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolumner */
  grid-gap: 10px;
  width: 100%; /* Full bredd på förälderelementet */
  p {
    color: #b4e255;
    font-weight: bolder;
  }

  .delete-btn {
    background-color: #adbcff;
    border: none;
    border-radius: 5px;
  }

  .edit-btn {
    background-color: #b4e255;
    border: none;
    border-radius: 5px;
  }
}
.monster-summary {
  button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #c9f778;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #b4e255;
  }
}
