@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

/*--------------skroll panel ----------------------------*/
.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #C9F778(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


/*förälder */
.all-monsters{ 
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ADBCFF;
    color: #3f445c;
    font-family: 'DM Mono', monospace;
    width: 100vh;
    overflow-x: scroll;
    border: 5px solid #9CF6F6;
    border-radius: 16px;
    
}



 /*---------------själva cardsen ---------------------------*/

.monster-box{
    margin: 0;
    min-width: 200px;
    max-width: fit-content;
    padding: 1.5rem;
    border-style:outset;
    border: 5px solid #a29cf653;
    border-radius: 16px;
    box-shadow: -3rem 0 3rem rgb(51, 6, 69);
    transition: 0.5s;
}

.monster-box:hover{
    transform: translateY(-1rem);
}

.monster-box:hover~.monster-box{
    transform: translateX(130px);
}

.monster-box:not(:first-child){
    margin-left: -130px;
}

.monster-box p:hover{
    background: linear-gradient(90deg,#fa0f0ffc,#f99304,#cfef02,#05ef53);
    text-shadow: none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}