/* Anpassa för skärmar mindre än 768px (mobiler och små surfplattor) */
@media (max-width: 768px) {
  body {
    background-size: cover;
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding-right: 15px;
  }

  header {
    font-size: 2rem;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
  }

  .rubrik2 {
    font-size: 2.4rem;
    margin: 10px auto;
    
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 80px;
  }
 
    /* Anpassa sektionerna för mobiler */
    .monster-form-section,
    .monster-list-section,
    .container,
    .monster-box {
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
      font-size: 0.7rem;
      text-align: left;
      box-sizing: border-box;
      padding: 20px;
      
    }


  /* Justera monster-box */
  .monster-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.0rem;
    transition: background-color 0.3s ease;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;
    width: 100%;
    
  }

  .monster-box:hover {
    background-color: rgba(0, 0, 0, 0.05);
  
  }

  /* Dölj allt utom namnet */
  .monster-box p:not(:first-of-type) {
    display: none;
  }

  /* Om du har en all-monsters klass */
  .all-monsters {
    width: 100%;
    margin: 0 auto;
  }

  .footer {
    height: auto;
    position: relative;
    margin-bottom: 0px;
  }

  .logo img {
    display: none;
  }

  .monster_pic {
    display: none;
  }

  .monster-summary {
    margin: 0;
    height: 10px;
  }

  .content {
    height: 80px;
  }

  /* Justera droplistor och knappar */
  #type-filter,
  #color-filter,
  #seeAllButton {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
  }
}